﻿@model Agenda2.Models.Contatos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excluir</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h3 class="text-center">Tem certeza que deseja excluir esse contato?</h3>
    <div>
        <hr />
        <dl class="col-md-offset-2 col-md-10">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sobrenome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Celular)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color col-md-offset-2 col-md-10">
                <input type="submit" value="Excluir" class="btn btn-default" /> |
                @Html.ActionLink("Voltar para lista", "Index")
            </div>
        }
    </div>
</body>
</html>
