﻿@model Agenda2.Models.Contatos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h4 class="text-center">Detalhes do contato</h4>
        <hr />
        <dl class="col-md-offset-2 col-md-10">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sobrenome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Celular)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
        </dl>
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Voltar para lista", "Index")
    </div>
</body>
</html>
